.share-pc-wrap {
  padding: 0;
  margin: 0;
}

.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.share-pc-wrap p,
.share-pc-wrap li,
.share-pc-wrap img {
  padding: 0;
  margin: 0;
}

.share-pc-wrap .share-btn {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  float: left;
  font-size: 0;
  cursor: pointer;
  background: url('../img/share-icon.png') no-repeat;
}

.share-pc-wrap .share-icon-weibo {
  background-position: 0 -161px;
}

.share-pc-wrap .share-icon-weibo:hover {
  background-position: -60px -161px;
}

.share-pc-wrap .share-icon-tqq {
  background-position: 0 -107px;
}

.share-pc-wrap .share-icon-tqq:hover {
  background-position: -60px -107px;
}

.share-pc-wrap .share-icon-qqzone {
  background-position: 0 -54px;
}

.share-pc-wrap .share-icon-qqzone:hover {
  background-position: -60px -54px;
}

.share-pc-wrap .share-icon-tieba {
  background-position: 0 -270px;
}

.share-pc-wrap .share-icon-tieba:hover {
  background-position: -60px -270px;
}

.share-pc-wrap .share-icon-qq {
  background-position: 0 0;
}

.share-pc-wrap .share-icon-qq:hover {
  background-position: -60px 0;
}

.share-pc-wrap .share-icon-renren {
  background-position: 0 -215px;
}

.share-pc-wrap .share-icon-renren:hover {
  background-position: -60px -215px;
}

.share-pc-wrap .share-icon-douban {
  background-position: 0 -324px;
}

.share-pc-wrap .share-icon-douban:hover {
  background-position: -60px -324px;
}

.share-pc-wrap .share-icon-weixin {
  position: relative;
  background-position: 0 -378px;
}

.share-pc-wrap .share-icon-weixin:hover {
  background-position: -60px -378px;
}

.share-pc-wrap .share-icon-facebook {
  background-position: 0 -432px;
}

.share-pc-wrap .share-icon-facebook:hover {
  background-position: -60px -432px;
}

.share-pc-wrap .share-weixin-code {
  position: absolute;
  top: 40px;
  left: -40px;
  width: 100px;
  height: 100px;
  padding: 20px;
  display: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
}

.share-pc-wrap .share-weixin-code.active {
  display: block;
}

.share-pc-wrap .share-weixin-code img {
  width: 100px;
  height: 100px;
}